@model IEnumerable<chuong_trinh_PT.Models.SanPham>

@{
    ViewBag.Title = "sxsoluongTang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Menu", Model)
<h2>sxsoluongTang</h2>


@Html.Partial("GiaodienSanPham", Model)