@model IEnumerable<chuong_trinh_PT.Models.SanPham>

@{
    ViewBag.Title = "sxsoluongGiam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Menu", Model)
<h2>sxsoluongGiam</h2>

@Html.Partial("GiaodienSanPham", Model)